<div class="container" fxLayout>
        <mat-card class="ng-serve-card" >
          <mat-card-header>
            <div id="logo">
              <img
                src="assets\images\logo-gmail.png"
                alt="logo"
              />
            </div>
          </mat-card-header>

          <mat-card-content>
            <h2>{{isLoginMode? 'Login' : 'Sign in'}}</h2>
            <p>Continue to Gmail</p>

          <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
          </div>

          <form [formGroup]="yourForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input matInput formControlName="login" placeholder="Email" />
              <mat-error *ngIf="checkError('login', 'email')">Enter Valid Email</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!isLoginMode">
              <input matInput formControlName= "firstname" placeholder="First Name">
            </mat-form-field>

            <mat-form-field *ngIf="!isLoginMode">
              <input matInput formControlName="lastname" placeholder="Last Name">
            </mat-form-field>

            <div class="password-container">
              <mat-form-field>
                <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'" />
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint align="end">Min 6 characters</mat-hint>
              </mat-form-field>
            </div>
            
  
            <p>
              <!-- <small>Please enter your login and password.</small> -->
            </p>
          
            <button mat-raised-button color="primary" type="submit">{{isLoginMode ? 'Login': 'Signup'}}</button> | 
            <button mat-raised-button color="primary" type="button" (click)="switchMode()">Switch to {{isLoginMode ? 'Signup': 'Login'}}</button>

          </form>
          </mat-card-content>
           
        </mat-card>
  </div>
  