<div class="container-fluid">

    <div class="row">
      <div class="col-xs-12">
        <mat-card class="ng-serve-card">
          <div id="logo">
            <img
              src="assets\images\logo-gmail.png"
              alt="logo"
            />
          </div>
          <mat-card-title>Sign in</mat-card-title>
          <p>Continue to Gmail</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input matInput formControlName="login" placeholder="Login" />
            </mat-form-field>
  
            <mat-form-field>
              <input matInput formControlName="password" placeholder="Password" />
              <mat-hint align="end">Min 6 characters</mat-hint>
            </mat-form-field>
  
            <p>
              <small>Please enter your login and password.</small>
            </p>
  
            <button mat-raised-button color="primary" type="submit">Login</button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  