<div fxLayout="column" class="composeBox">
        <mat-toolbar class="toolbar">New Message
            <div class="spacer"></div>
            <mat-icon style="cursor: pointer;">minimize</mat-icon>
            <mat-icon style="cursor: pointer;">close </mat-icon>
        </mat-toolbar>

<mat-form-field>
    <input matInput placeholder="Recipients" />
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="subjects" />
</mat-form-field>
<textarea name="" id="" cols="30" rows="20"></textarea>

<mat-dialog-actions>
    <button mat-dialog-close class="btn btn-primary">Send</button>
</mat-dialog-actions>
</div>
