<div class="content-container mat-elevation-z8" role="group">
    <!-- <div class="subcards">
      <mat-card class="subcard" class="subcard1">
        <mat-icon>check box icon</mat-icon>
        <mat-icon>select</mat-icon>
        <mat-icon>refresh</mat-icon>
        <mat-icon>more</mat-icon>
        <mat-icon>icon code</mat-icon>
        <mat-icon>keyboard code</mat-icon>
      </mat-card>
    </div> -->
  
      <div class="subcards">
        <mat-card class="subcard" class="subcard1"><img src="assets\images\primary-logo.png">Primary</mat-card>
              <mat-card class="subcard" class="subcard2"><img src="assets\images\social-icon.png">Social</mat-card>
              <mat-card class="subcard" class="subcard3"><img src="assets\images\promotions-logo.png">Promotion</mat-card>
      </div>
      <mat-card class="details-container" style="cursor: pointer;">
          <mat-checkbox class="example-margin" style="flex: 0;"></mat-checkbox>
          <span style="text-align: center; flex: 0.5">{{data.name[0]}}</span>
          <span style="flex: 3; text-align: center;">{{data.content[0]}}</span>
          <span style="flex: 0.3;"><b>{{getTime(0)}}</b></span>
      </mat-card>
  
      <mat-card class="details-container" style="cursor: pointer;">
        <mat-checkbox class="example-margin" style="flex: 0;"></mat-checkbox>   
        <span style="text-align: center; flex: 0.5">{{data.name[1]}}</span>
        <span style="flex: 3; text-align: center;">{{data.content[1]}}</span>
        <span style="flex: 0.3;"><b>{{getTime(1)}}</b></span>
    </mat-card>
  
    <mat-card class="details-container" style="cursor: pointer;">
      <mat-checkbox class="example-margin" style="flex: 0;"></mat-checkbox>       
      <span style="text-align: center; flex: 0.5">{{data.name[2]}}</span>
      <span style="flex: 3; text-align: center;">{{data.content[2]}}</span>
      <span style="flex: 0.3;"><b>{{getTime(2)}}</b></span>
  </mat-card>       
  </div>