.content-container {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    color: lightgray;
}

.subcards{
    display: flex;
    flex-direction: row;
}

.subcard{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: auto;
    color: #333;
}

.subcard1{
    flex:1;
}
.subcard2{
    flex:1;
}
.subcard3{
    flex:2;
}

.details-container{
    display: flex;
    justify-content:flex-start;
}
